# Node modules
node_modules/

# Build output
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
docker-compose.yml

# Logs
logs/
*.log
npm-debug.log*

# IDE specific files
.vscode/
.idea/
.DS_Store